{% extends 'base.html' %}

{% block content %}

    <div>
        {% for message in messages%}
        <h4 style="color: red;"> {{ message }}</h4>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:90vh">
            <div class="col-4">
                <h3>Login</h3>
                <div class="card">
                    <div class="card-body">
                        <form action="" autocomplete="off" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="eusername" placeholder="Enter Username" >
                            </div>
                            <div class="form-group">
                                <label for="passwword">Password</label>
                                <input type="password" class="form-control" name="epassword" placeholder="Enter Password">
                            </div>
                            <button type="submit" id="sendlogin" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}